<h3>ListPreview</h3>

@code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? ImageAddress { get; set; }
}